In [ ]:
from nbfiddle import Fiddle

In [ ]:
DATATABLES_JSLIBS = (('jquery-ui', 'https://code.jquery.com/ui/1.11.4/jquery-ui.min', 'jqui'), 
        ('datatables.net', 'https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min', 'dt'),
        ('datatables.net-responsive', 'https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min', 'dt_r'),
        ('datatables-select','https://cdn.datatables.net/select/1.1.2/js/dataTables.select.min', 'dt_s'))

DATATABLES_CSSLIBS = ('https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css',
         'https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css',
         'https://cdn.datatables.net/responsive/2.0.2/css/responsive.dataTables.min.css',
         'https://cdn.datatables.net/select/1.1.2/css/select.dataTables.min.css'
        )

# building datatables from HTML table

In [ ]:
# https://jsfiddle.net/rdhyee/ugeLrz0g/
Fiddle(

html="""

<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot>
 
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td><a href="https://en.wikipedia.org/wiki/Systems_architect">System Architect</a></td>
                <td><a href="https://en.wikipedia.org/wiki/Edinburgh">Edinburgh</a></td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Hauptbuch_Hochstetter_vor_1828.jpg/260px-Hauptbuch_Hochstetter_vor_1828.jpg"/></td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>$170,750</td>
            </tr>
            <tr>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
                <td>66</td>
                <td>2009/01/12</td>
                <td>$86,000</td>
            </tr>
            <tr>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>2012/03/29</td>
                <td>$433,060</td>
            </tr>
            <tr>
                <td>Airi Satou</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>33</td>
                <td>2008/11/28</td>
                <td>$162,700</td>
            </tr>
        </tbody>
    </table>

""",
       
css='', 
    
div_css="""

""", 
    
js="""

var table = element.find('#example').DataTable( {
        responsive: true,
        select: {
            style: 'single'
        }
    } );


$('#example tbody').on( 'click', 'tr', function () {
    console.log( 'Row index: '+table.row( this ).index() );
} );

""", 
    
jslibs= DATATABLES_JSLIBS, 
csslibs=DATATABLES_CSSLIBS, 
    
extra_vars={})

# build dt programmatically

how to insert arbitrary HTML elements into the tables

In [ ]:
# Fiddle

Fiddle(

html="""

<table id="example1" class="display dt" width="100%"></table>

""",
       
css='', 
    
div_css='', 
    
js="""

var dataSet = [
    [ "Tiger Nixon", "System Architect <button type='button'>Click Me!</button>", "Edinburgh", "5421", "2011/04/25", "$320,800" ],
    [ "Garrett Winters", "Accountant", "Tokyo", "8422", "2011/07/25", "$170,750" ],
    [ "Ashton Cox", "Junior Technical Author", "San Francisco", "1562", "2009/01/12", "$86,000" ],
    [ "Cedric Kelly", "Senior Javascript Developer", "Edinburgh", "6224", "2012/03/29", "$433,060" ],
    [ "Airi Satou", "Accountant", "Tokyo", "5407", "2008/11/28", "$162,700" ],
    [ "Brielle Williamson", "Integration Specialist", "New York", "4804", "2012/12/02", "$372,000" ],
    [ "Herrod Chandler", "Sales Assistant", "San Francisco", "9608", "2012/08/06", "$137,500" ],
    [ "Rhona Davidson", "Integration Specialist", "Tokyo", "6200", "2010/10/14", "$327,900" ],
    [ "Colleen Hurst", "Javascript Developer", "San Francisco", "2360", "2009/09/15", "$205,500" ],
    [ "Sonya Frost", "Software Engineer", "Edinburgh", "1667", "2008/12/13", "$103,600" ],
    [ "Jena Gaines", "Office Manager", "London", "3814", "2008/12/19", "$90,560" ],
    [ "Quinn Flynn", "Support Lead", "Edinburgh", "9497", "2013/03/03", "$342,000" ],
    [ "Charde Marshall", "Regional Director", "San Francisco", "6741", "2008/10/16", "$470,600" ],
    [ "Haley Kennedy", "Senior Marketing Designer", "London", "3597", "2012/12/18", "$313,500" ],
    [ "Tatyana Fitzpatrick", "Regional Director", "London", "1965", "2010/03/17", "$385,750" ],
    [ "Michael Silva", "Marketing Designer", "London", "1581", "2012/11/27", "$198,500" ],
    [ "Paul Byrd", "Chief Financial Officer (CFO)", "New York", "3059", "2010/06/09", "$725,000" ],
    [ "Gloria Little", "Systems Administrator", "New York", "1721", "2009/04/10", "$237,500" ],
    [ "Bradley Greer", "Software Engineer", "London", "2558", "2012/10/13", "$132,000" ],
    [ "Dai Rios", "Personnel Lead", "Edinburgh", "2290", "2012/09/26", "$217,500" ],
    [ "Jenette Caldwell", "Development Lead", "New York", "1937", "2011/09/03", "$345,000" ],
    [ "Yuri Berry", "Chief Marketing Officer (CMO)", "New York", "6154", "2009/06/25", "$675,000" ],
    [ "Caesar Vance", "Pre-Sales Support", "New York", "8330", "2011/12/12", "$106,450" ],
    [ "Doris Wilder", "Sales Assistant", "Sidney", "3023", "2010/09/20", "$85,600" ],
    [ "Angelica Ramos", "Chief Executive Officer (CEO)", "London", "5797", "2009/10/09", "$1,200,000" ],
    [ "Gavin Joyce", "Developer", "Edinburgh", "8822", "2010/12/22", "$92,575" ],
    [ "Jennifer Chang", "Regional Director", "Singapore", "9239", "2010/11/14", "$357,650" ],
    [ "Brenden Wagner", "Software Engineer", "San Francisco", "1314", "2011/06/07", "$206,850" ],
    [ "Fiona Green", "Chief Operating Officer (COO)", "San Francisco", "2947", "2010/03/11", "$850,000" ],
    [ "Shou Itou", "Regional Marketing", "Tokyo", "8899", "2011/08/14", "$163,000" ],
    [ "Michelle House", "Integration Specialist", "Sidney", "2769", "2011/06/02", "$95,400" ],
    [ "Suki Burks", "Developer", "London", "6832", "2009/10/22", "$114,500" ],
    [ "Prescott Bartlett", "Technical Author", "London", "3606", "2011/05/07", "$145,000" ],
    [ "Gavin Cortez", "Team Leader", "San Francisco", "2860", "2008/10/26", "$235,500" ],
    [ "Martena Mccray", "Post-Sales support", "Edinburgh", "8240", "2011/03/09", "$324,050" ],
    [ "Unity Butler", "Marketing Designer", "San Francisco", "5384", "2009/12/09", "$85,675" ]
];
 

var table = $("#example1").DataTable( {
    data: dataSet,
    select: {
            style: 'single'
        },
    columns: [
        { title: "Name" },
        { title: "Position" },
        { title: "Office" },
        { title: "Extn." },
        { title: "Start date" },
        { title: "Salary" }
    ]
} );

$('#example1 tbody').on( 'click', 'tr', function () {
    console.log( 'Row index: '+table.row( this ).index() );
} );

""", 
    
jslibs= DATATABLES_JSLIBS, 
csslibs=DATATABLES_CSSLIBS, 
    
extra_vars={})

# building up a DT bit by bit

In [ ]:
Fiddle(

html="""

<table id="example2" class="display dt" width="100%"></table>

""",
       
css='', 
    
div_css='', 
    
js="""


var table = $("#example2").DataTable( {
    data: [],
    select: {
            style: 'single'
        },
    select: true, 
    columns: [
        { title: "Name" },
        { title: "Position" },
        { title: "Office" },
        { title: "Extn." },
        { title: "Start date" },
        { title: "Salary" }
    ]
} );
 
 
table.row.add([ "Garrett Winters", "Accountant", "Tokyo", "8422", "2011/07/25", "$170,750" ]);

table.rows.add( [
    [ "Ashton Cox", "Junior Technical Author", "San Francisco", "1562", "2009/01/12", "$86,000" ],
    [ "Cedric Kelly", "Senior Javascript Developer", "Edinburgh", "6224", "2012/03/29", "$433,060" ]
]);

// mix in dict?



table.draw();

$('#example2 tbody').on( 'click', 'tr', function () {
    console.log( 'Row index: '+table.row( this ).index() );
} );


""", 
    
jslibs= DATATABLES_JSLIBS, 
csslibs=DATATABLES_CSSLIBS, 
    
extra_vars={})

# add rows by dict

In [ ]:
Fiddle(

html="""

<table class="display dt" width="100%"></table>

""",
       
css='', 
    
div_css='', 
    
js="""


var table = element.find('table').DataTable({
  data: [],
  columns: [
        { data: "name", title: "Name" },
        { data: "position", title: "Position" },
        { data: "salary", title: "Salary"},
        { data: "start_date", title: "Start date"},
        { data: "office", title: "Office"},
        { data: "extn", title: "Extn."  }
    ]

});

table.row.add({
        "name":       "Tiger Nixon",
        "position":   "System Architect",
        "salary":     "$3,120",
        "start_date": "2011/04/25",
        "office":     "Edinburgh",
        "extn":       "5421"
    })

table.draw();

element.find('tbody').on( 'click', 'tr', function () {
    console.log( 'Row index: '+table.row( this ).index() );
} );

""", 
    
jslibs= DATATABLES_JSLIBS, 
csslibs=DATATABLES_CSSLIBS, 
    
extra_vars={})